# Build folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider/VS
.idea/
.vs/

# Logs
*.log

# npm
node_modules/

# front-end build
frontend/dist/

# dotenv
.env

# JetBrains
*.iml

# Visual Studio Code
.vscode/

# macOS
.DS_Store
